.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-image {
  height: 2rem;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-component {
  text-decoration: none;
}
.home-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.home-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #4a98f8;
}
.home-container01 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text {
  color: #ffffff;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-text01 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.home-image1 {
  width: 20rem;
  margin-top: var(--dl-space-space-twounits);
  border-color: #ffffff;
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.home-text02 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-sixunits);
}
.home-features {
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text03 {
  font-size: 3rem;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-separator1 {
  width: 100px;
  height: 2px;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-500);
}
.home-features1 {
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text16 {
  font-size: 3rem;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-separator2 {
  width: 100px;
  height: 2px;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-500);
}
.home-container02 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  border-color: #e7e7e7;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-text19 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text21 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  border-color: #e7e7e7;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-text22 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text23 {
  color: var(--dl-color-gray-700);
  z-index: 100;
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-text24 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  border-color: #e7e7e7;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-text25 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text26 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text27 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-features2 {
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text28 {
  font-size: 3rem;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text31 {
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-container04 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-link1 {
  display: contents;
}
.home-text32 {
  padding: var(--dl-space-space-halfunit);
  text-align: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
  background-color: #bbfff4;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-link2 {
  display: contents;
}
.home-text33 {
  padding: var(--dl-space-space-halfunit);
  text-align: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
  background-color: rgb(187, 255, 244);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-link3 {
  display: contents;
}
.home-text34 {
  padding: var(--dl-space-space-halfunit);
  text-align: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
  background-color: rgb(187, 255, 244);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-link4 {
  display: contents;
}
.home-text35 {
  padding: var(--dl-space-space-halfunit);
  text-align: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
  background-color: rgb(187, 255, 244);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-link5 {
  display: contents;
}
.home-text36 {
  padding: var(--dl-space-space-halfunit);
  text-align: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
  background-color: rgb(187, 255, 244);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-features3 {
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text37 {
  font-size: 3rem;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-separator3 {
  width: 100px;
  height: 2px;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-500);
}
.home-testimonial-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  background: #fff;
  align-items: center;
  justify-content: flex-start;
}
.home-testimonial {
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container05 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text40 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container06 {
  display: flex;
  padding: 0px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-li {
  color: var(--dl-color-gray-black);
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-li01 {
  color: var(--dl-color-gray-black);
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-li02 {
  color: var(--dl-color-gray-black);
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-image2 {
  width: 378px;
  height: 377px;
  margin: var(--dl-space-space-twounits);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: var(--dl-radius-radius-radius8);
}
.home-features4 {
  width: 100%;
  display: flex;
  padding: 0px;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container08 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-icon2 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text46 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text47 {
  color: var(--dl-color-gray-700);
}
.home-li03 {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-li04 {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-li05 {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-li06 {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-icon4 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text52 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text53 {
  color: var(--dl-color-gray-700);
}
.home-li07 {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-li08 {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-li09 {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-text57 {
  font-size: 3rem;
  text-align: center;
}
.home-text58 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-container09 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .home-nav1 {
    padding-top: 16px;
  }
  .home-hero {
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
  }
  .home-image1 {
    width: 80%;
  }
  .home-text02 {
    text-align: center;
  }
  .home-text03 {
    text-align: center;
  }
  .home-text16 {
    text-align: center;
  }
  .home-container02 {
    grid-template-columns: 1fr 1fr;
  }
  .home-text28 {
    text-align: center;
  }
  .home-features3 {
    position: relative;
  }
  .home-text37 {
    text-align: center;
  }
  .home-testimonial-card {
    flex-direction: row;
  }
  .home-features4 {
    align-items: center;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-text58 {
    text-align: center;
  }
  .home-container09 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-nav {
    display: none;
  }
  .home-icon {
    display: flex;
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text03 {
    text-align: center;
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text16 {
    text-align: center;
  }
  .home-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text28 {
    text-align: center;
  }
  .home-features3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text37 {
    text-align: center;
  }
  .home-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
  .home-features4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text58 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container09 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container02 {
    grid-template-columns: 1fr;
  }
  .home-features2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-features3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container08 {
    grid-template-columns: 1fr;
  }
  .home-text46 {
    font-style: normal;
    font-weight: 600;
  }
  .home-text52 {
    font-style: normal;
    font-weight: 600;
  }
  .home-gallery {
    padding: var(--dl-space-space-unit);
  }
  .home-container09 {
    grid-template-columns: 1fr;
  }
}
